body {
    background-color: #508C9B;
    font-family: "IBM Plex Mono", monospace;
    text-align: center;
    font-size: 32;
    color: #d3cdcd;
}

h1 {
    margin-top: 350;
}

h2 {
    font-size: 20;
}

a {
    color: #d3cdcd;

}

a:hover{
    text-decoration:none ;
}